<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | timvw</title>
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/feed.xml">
    <link rel="canonical" href="{{ site.url }}" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/tags">Tags</a></li>
      </ul>
    </nav>

    <div class="container">
      <main>
        {{ content }}
      </main>
    </div>
    
  </body>
</html>